#main {
  background-image: url("./../img/main-background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .navigation {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin: 0 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#main .menu-item a:hover {
  color: #00e0d0;
}

#main #main-page .container {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main-title {
  color: white;
  font-size: 37px;
}

#main .main-subtitle {
  color: white;
  font-size: 19px;
  padding: 3rem 0;
}

#main .btn-burger {
  display: none;
}

#out-story .container {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#out-story .image-container {
  width: 40%;
}

#out-story .big-logo {
  margin: 0 auto;
}

#out-story .info-container {
  width: 60%;
}

#out-story .story-text {
  padding: 10px 0;
  color: #413d4b;
  font-weight: 300;
  line-height: 22px;
  opacity: 0.75;
}

#out-story .btn-our-story {
  margin: 1rem 0;
}

#out-story #watch-our-story {
  background: url("/img/video-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#out-story #watch-our-story .play-video-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#out-story #watch-our-story .icon-play {
  margin: 1.5rem 0;
}

#out-story #watch-our-story .play-text {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

#expertise {
  margin: 100px 0;
}

#expertise .card:nth-child(3n + 2) {
  border-right: 2px solid rgba(128, 128, 128, 0.171);
  border-left: 2px solid rgba(128, 128, 128, 0.171);
}

#expertise .card:nth-child(n + 4) {
  border-top: 2px solid rgba(128, 128, 128, 0.171);
}

#team {
  text-align: center;
  padding: 100px 0;
  background: url("/img/team-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#team .title-container,
#team .title-description {
  color: white;
}

#team .cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#team .card {
  width: 22%;
  margin: 0 1%;
  padding: 0;
  border: 2px solid rgba(128, 128, 128, 0.171);
}

#team .card-image {
  width: 100%;
  margin: 0;
}

#team .card .card-title {
  color: white;
}

#team .gray-text {
  color: #cfcaca;
  font-size: 18px;
  font-weight: 300;
}

#team .btn-hirring {
  margin-top: 3rem;
}

#our-works {
  margin: 100px 0;
  text-align: center;
}

#our-works .title-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#our-works .title-description {
  font-size: 18px;
  text-decoration: none;
}

#our-works .our-works-image {
  width: 100%;
  margin: 4rem 0;
}

#meet-team {
  padding: 100px 0;
  background: url("/img/meet-team-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#meet-team .container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#meet-team .meet-team-text {
  margin: 4rem 0;
  width: 80%;
}

#meet-team .meet-team-text {
  opacity: 0.85;
  color: white;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
}

#contact-us {
  margin: 100px 0;
}

#contact-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-us .section-title {
  padding-bottom: 20px;
}

#contact-us .form-contact-us {
  width: 50%;
}

#contact-us .form-contact-us input,
#contact-us .form-contact-us textarea {
  padding: 10px 20px;
  width: 100%;
  color: #413d4b;
  font-size: 18px;
  font-weight: 300;
  border: 2px solid rgba(128, 128, 128, 0.171);
  margin: 0.5rem 0;
  resize: none;
}

#contact-us .our-happy-clients {
  width: 40%;
}

#contact-us .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact-us .company {
  width: 50%;
  padding: 1.5rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.swiper-pagination-bullet {
  background-color: #00e0d0;
  width: 25px;
  height: 25px;
}

.swiper-container {
  position: unset;
  width: 80%;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 3rem;
}

.swiper-slide {
  text-align: center;
}

@media (max-width: 320.98px) {
  #main .main-subtitle {
    padding: 0 !important;
  }
  #main .main-subtitle {
    font-size: 17px !important;
    padding: 1rem 0 !important;
  }
}

@media (max-width: 767.98px) {
  #main .main-title {
    font-size: 25px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 1rem;
  }
  #out-story .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #out-story .info-container {
    width: 90%;
  }
  #out-story .image-container {
    width: 50%;
  }
  #out-story .section-title {
    margin: 1rem 0;
  }
  #expertise .card {
    width: 100% !important;
  }
  #expertise .card:nth-child(n + 2) {
    border-top: 2px solid rgba(128, 128, 128, 0.171);
  }
  #expertise .card:nth-child(2n + 1) {
    border-right: unset !important;
  }
  #team .cards {
    padding: 0 2rem;
  }
  #team .card {
    width: 100% !important;
  }
  #our-works .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #our-works .title-description {
    margin: 1rem 0;
  }
  #contact-us .form-contact-us,
  #contact-us .our-happy-clients {
    width: 90% !important;
  }
  #contact-us .company {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  #main {
    overflow: hidden;
    position: relative;
  }
  #main .btn-burger {
    outline: none;
    position: relative;
    display: block;
    z-index: 1111;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 30px;
  }
  #main .btn-burger .burger-line {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 2px;
  }
  #main .btn-burger .line-1 {
    top: 5px;
    width: 50px;
  }
  #main .btn-burger .line-2 {
    top: 15px;
    width: 35px;
  }
  #main .btn-burger .line-3 {
    top: 25px;
    width: 20px;
  }
  #main .btn-burger .line-active.line-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 15px;
    background-color: #00e0d0;
    width: 50px;
  }
  #main .btn-burger .line-active.line-2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
    background-color: #00e0d0;
    top: 15px;
    width: 50px;
  }
  #main .btn-burger .line-active.line-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #00e0d0;
    top: 15px;
    width: 50px;
  }
  #main .menu-active.menu {
    left: 0;
  }
  #main .menu {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: 111;
    top: 0;
    left: 100%;
    background-color: #372b5a;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
  }
  #main .menu .menu-item {
    margin: 1.5rem 0;
  }
  #main .menu .menu-item a {
    color: #00e0d0;
  }
  #main .menu .menu-item a:hover {
    color: white;
  }
  #expertise .card {
    width: 50%;
  }
  #expertise .card:nth-child(3n + 2) {
    border-right: unset;
    border-left: unset;
  }
  #expertise .card:nth-child(n + 3) {
    border-top: 2px solid rgba(128, 128, 128, 0.171);
  }
  #expertise .card:nth-child(2n + 1) {
    border-right: 2px solid rgba(128, 128, 128, 0.171);
  }
  #team .card {
    margin: 1.5rem 0;
    width: 48%;
  }
  #contact-us {
    text-align: center;
  }
  #contact-us .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-us .form-contact-us {
    margin-bottom: 3rem;
  }
  #contact-us .form-contact-us,
  #contact-us .our-happy-clients {
    width: 60%;
  }
  #contact-us .companies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-us .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */